 .home_body{
     height: 100vh;
     margin: 20px;
     padding: 10px;
 }
 .home_body_background{
   position: absolute;
   right: 25%;
   left: 25%;
   width: 50vw;
   height: 95vh;
  background-color: rgb(142, 167, 177);
  text-align: justify;
     
 }

 .digitalReadImage{
     max-width: 20vw;  
     position: absolute;
     right: 10%;
     margin: 10px;
    box-shadow: 1px 30px 20px rgba(2, 2, 2, 0.432);
     
    }

     .womenWritingImage{

    max-width: 25vw;   
    position: absolute;
    left: 10%;
    transform: translateY(20vh);
    box-shadow: 1px 30px 20px rgba(2, 2, 2, 0.432);
}
.writingBackgroundImage{
   max-width: 20vw;   
   position: absolute;
   right: 15%;
   transform: translateY(70vh);
   box-shadow: 10px 30px 20px rgba(2, 2, 2, 0.432);

}
.home_body_text{
    font-size: 1.4rem;
    text-align: justify;
    padding: 0 10vw;
}

@media screen and (max-width:1000px) {
    .home_body_text{
        font-size: 1rem;
    padding: 0 10px;
}
}

@media screen and (max-width:500px) {
    .home_body_text{
        font-size: 0.7rem;
        padding: 0 ;
    }
 .digitalReadImage{
     max-width: 25vw;
 }
}
@media screen and  (max-width:350px) {
    .home_body_text{
        font-size: 0.6rem;
        padding: 0;
    }
}
